%div
  %h1.font-bold.text-4xl
    Spain on
    %span.text-red-700 Rails
  %p Resistiré, para seguir viviendo
  %p Soportaré los golpes y jamás me rendiré
  %p Y aunque los sueños se me rompan en pedazos
  %p Resistiré, resistiré
  %p -a Spanish Ruby On Rails Developer, probably
  = link_to("See all companies", companies_url, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium w-48")
