.flex.flex-col
  .flex.justify-center.items-center
    = image_tag('ruby.png', class: 'w-1/3', alt: 'a Ruby, Ruby, Ruby')
    %div
      %h1.font-bold.text-4xl.mb-6
        Spain on
        %span.text-red-700 Rails
      %p Resistiré, para seguir viviendo
      %p Soportaré los golpes y jamás me rendiré
      %p Y aunque los sueños se me rompan en pedazos
      %p Resistiré, resistiré
      %p.mt-2 -a Spanish Ruby On Rails Developer, probably
  .flex.justify-center
    = link_to('See Ruby companies', companies_path, class: 'btn btn-error')
