<div>
  <h1 class="font-bold text-4xl">Spain on <span class="text-red-700">Rails</span></h1>
  <p>Resistiré, para seguir viviendo</p>
  <p>Soportaré los golpes y jamás me rendiré</p>
  <p>Y aunque los sueños se me rompan en pedazos</p>
  <p>Resistiré, resistiré</p>
  <p>-a Spanish Ruby On Rails Developer, probably</p>
  <%= link_to("See all companies", companies_url, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium w-48") %>
</div>
